<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, width=device-width" name="viewport">
	<meta content="Letzgo provides perfect places to go with friends. Discover the best cuisines, nightlife, and entertainment in San Jose." name="description">
	<title><%= title%></title>

	<link href="css/base.min.css" rel="stylesheet">
	
	<style>

	.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;

	}
	.timeline:before {
			top: 0;
			bottom: 0;
			position: absolute;
			content: " ";
			width: 5px;
			background-color: #388e3c;
			left: 50%;
			margin-left: -1.5px;
	}

	.timeline > li {
			margin-bottom: 20px;
			position: relative;
	}

	.timeline > li:before,
	.timeline > li:after {
			content: " ";
			display: table;
	}

	.timeline > li:after {
			clear: both;
	}

	.timeline > li:before,
	.timeline > li:after {
			content: " ";
			display: table;
	}

	.timeline > li:after {
			clear: both;
	}

	.timeline > li > .timeline-panel {
		width: 46%;
		float: left;
		border: 1px solid #d4d4d4;
		border-radius: 2px;
		padding: 20px;
		position: relative;
		-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
		background-color: white;
	}

	.timeline > li > .timeline-panel:before {
			position: absolute;
			top: 26px;
			right: -15px;
			display: inline-block;
			border-top: 15px solid transparent;
			border-left: 15px solid #ccc;
			border-right: 0 solid #ccc;
			border-bottom: 15px solid transparent;
			content: " ";
	}

	.timeline > li > .timeline-panel:after {
			position: absolute;
			top: 27px;
			right: -14px;
			display: inline-block;
			border-top: 14px solid transparent;
			border-left: 14px solid #fff;
			border-right: 0 solid #fff;
			border-bottom: 14px solid transparent;
			content: " ";
	}

	.timeline > li > .timeline-badge {
			color: #fff;
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 1.4em;
			text-align: center;
			position: absolute;
			top: 16px;
			left: 50%;
			margin-left: -25px;
			background-color: #999999;
			//z-index: 100;
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
	}

	.timeline > li.timeline-inverted > .timeline-panel {
			float: right;
	}

	.timeline > li.timeline-inverted > .timeline-panel:before {
			border-left-width: 0;
			border-right-width: 14px;
			left: -15px;
			right: auto;
	}

	.timeline > li.timeline-inverted > .timeline-panel:after {
			border-left-width: 0;
			border-right-width: 14px;
			left: -14px;
			right: auto;
	}

	.timeline-badge.primary {
		background-color: #2e6da4 !important;
	}

	.timeline-badge.success {
		background-color: #3f903f !important;
	}

	.timeline-badge.warning {
		background-color: #f0ad4e !important;
	}

	.timeline-badge.danger {
		background-color: #d9534f !important;
	}

	.timeline-badge.info {
		background-color: #5bc0de !important;
	}

	.timeline-title {
		margin-top: 0;
		color: inherit;
	}

	.timeline-body > p,
	.timeline-body > ul {
		margin-bottom: 0;
	}

	.timeline-body > p + p {
			margin-top: 5px;
	}

	@media (max-width: 767px) {
		ul.timeline:before {
				left: 40px;
		}

		ul.timeline > li > .timeline-panel {
				width: calc(100% - 90px);
				width: -moz-calc(100% - 90px);
				width: -webkit-calc(100% - 90px);
		}

		ul.timeline > li > .timeline-badge {
				left: 15px;
				margin-left: 0;
				top: 16px;
		}

		ul.timeline > li > .timeline-panel {
				float: right;
		}

		ul.timeline > li > .timeline-panel:before {
				border-left-width: 0;
				border-right-width: 15px;
				left: -15px;
				right: auto;
		}

		ul.timeline > li > .timeline-panel:after {
				border-left-width: 0;
				border-right-width: 14px;
				left: -14px;
				right: auto;
		}
	}
	</style>
	
</head>
<body style="margin-bottom: 73px;">

				<header class="header">
					<div class="clearfix pull-left">
						<ul class="nav nav-list pull-left">
							<li>
								<a class="menu-toggle" href="#menu">
									<span class="access-hide">Menu</span>
									<span class="icon icon-menu"></span>
									<span class="header-close icon icon-close"></span>
								</a>
							</li>
						</ul>
						<a class="header-logo" href="index.html"><span><img src="./images/logoInline.png"><%= title%></a>
						</div>
					<div class="clearfix pull-right">
						<ul class="nav nav-list pull-right">
							<li>
								<div id='MicrosoftTranslatorWidget' class='Dark' style='color:white;background-color:#555555;float:left;'></div><script type='text/javascript'>setTimeout(function(){{var s=document.createElement('script');s.type='text/javascript';s.charset='UTF-8';s.src=((location && location.href && location.href.indexOf('https') == 0)?'https://ssl.microsofttranslator.com':'http://www.microsofttranslator.com')+'/ajax/v3/WidgetV3.ashx?siteData=ueOIGRSKkd965FeEGM5JtQ**&ctf=True&ui=true&settings=Manual&from=en';var p=document.getElementsByTagName('head')[0]||document.documentElement;p.insertBefore(s,p.firstChild); }},0);</script>					
							</li>
					
							<li style="padding-left:25px;">
								<a class="menu-toggle" href="#profile">
									<span class="access-hide">User</span>
									<span class="avatar avatar-sm"><img alt="alt text for User avatar" src="images/users/avatar-001.jpg"></span>
									<span class="header-close icon icon-close"></span>
								</a>
							</li>

						</ul>
					</div>
				</header>

				<nav class="menu" id="menu">
					<div class="menu-scroll">
						<div class="menu-wrap">
							<div class="menu-content">
								<ul class="nav">
									<li class="active">
										<a href="#">Menu Item 1</a>
									</li>
									<li>
										<a href="#">Menu Item 2</a>
									</li>
									<li>
										<a href="#">Menu Item 3</a>
									</li>
									<li>
										<a href="#">Menu Item 4</a>
									</li>
									<li>
										<a href="#">Menu Item 5</a>
									</li>
									<li>
										<a href="#">Menu Item 6</a>
									</li>
								</ul>

								<hr>
								<ul class="nav">
									<li>
										<a href="page-palette.html">Menu Main</a>
										<span class="menu-collapse-toggle collapsed" data-target="#page-palettes" data-toggle="collapse"><i class="icon icon-close menu-collapse-toggle-close"></i><i class="icon icon-add menu-collapse-toggle-default"></i></span>
										<ul class="menu-collapse collapse" id="page-palettes">
											<li>
												<a href="#">Sub-Menu</a>
											</li>
											<li>
												<a href="#">Sub-Menu 2</a>
											</li>
											<li>
												<a href="#">Sub Menu 3</a>
											</li>
											<li>
												<a href="#">Sub Menu 4</a>
											</li>
											<li>
												<a href="#">Sub Menu 5</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
	<nav class="menu menu-right" id="profile">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-top">
					<div class="menu-top-img">
						<img alt="User" src="images/samples/landscape.jpg">
					</div>
					<div class="menu-top-info">
						<a class="menu-top-user waves-effect" data-toggle="modal" href="#modal"><span class="avatar pull-left"><img alt="alt text for avatar" src="images/users/avatar-001.jpg"></span><%=uname%></a>
					</div>
				</div>

				<div class="menu-content">
					<ul class="nav">
						<li>
							<a href="#"><span class="icon icon-account-box"></span>My Profile</a>
						</li>
						<li>
							<a href="/settings"><span class="icon icon-settings"></span>Account Settings</a>
						</li>
						<li>
							<a href="/logout"><span class="icon icon-exit-to-app"></span>Logout</a>
						</li>
						
											
					</ul>
				</div>
			</div>
		</div>
	</nav>


	<div class="content">
						<div class="content-heading">
							<div class="container">
								<h1 class="heading">Home</h1>
							</div>
						</div>

		<div class="content-inner">
			<div class="container">
				<ul class="timeline">

        <li>
        	<div class=" timeline-badge success"><i class="icon icon-lens"></i></div>
         <div class="timeline-panel">
            <div class="timeline-heading">
              <a href=""><h4 class="timeline-title">Raging Waters</h4></a>
              
            </div>
            <div class="timeline-body">
              <p>Raging Waters is the name of three water theme parks located in Sacramento, San Dimas, and San Jose, California. They are the largest water parks in the state of California.Raging Waters San Jose is the largest water park in Northern California. With tons of rides, slides and pools, we're the ultimate summer retreat!
             </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
        	<div class=" timeline-badge success"><i class="icon icon-lens"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <a href=""><h4 class="timeline-title">Safari Run</h4></a>
            </div>
            <div class="timeline-body">
              <p>Safari Run opened in San Mateo in 2006. Founders Jodi and Rob Eichensehr, with the help of their school-aged boys, realized there were few options for parents and kids to play in a fun, clean, and safe environment. The combination of Jodi and Rob knowing what their kids needed, along with their sons bringing the perspective of what kids want, led to the Safari Run you see today.</p>
            </div>
          </div>
        </li>
        <li>
          <div class=" timeline-badge success"><i class="icon icon-lens"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <a href=""><h4 class="timeline-title">Cafe Stritch</h4></a>
            </div>
            <div class="timeline-body">
              <p>Exposed-brick walls & a chill vibe are on offer at this live-music venue for American fare & drinks.Exposed-brick walls & a chill vibe are on offer at this live-music venue for American fare & drinks.Exposed-brick walls & a chill vibe are on offer at this live-music venue for American fare & drinks.</p>
            </div>
          </div>
        </li>
        
        <li class="timeline-inverted">
        	<div class=" timeline-badge success"><i class="icon icon-lens"></i></div>
            <div class="timeline-panel">
            <div class="timeline-heading">
              <a href=""><h4 class="timeline-title">Coyote Valley RV Resort</h4></a>
            </div>
            <div class="timeline-body">
              <p>Coyote Valley RV and Golf Resort is a Luxury Award Winning Top RV Park in North America for 2009 located south of San Francisco. Coyote Valley RV and Golf Resort is a Luxury Award Winning Top RV Park in North America for 2009 located south of San Francisco. Coyote Valley RV and Golf Resort is a Luxury Award Winning Top RV Park in North America for 2009 located south of San Francisco</p>
            </div>
          </div>
        </li>
        <li>
     <div class=" timeline-badge success"><i class="icon icon-lens"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
             <a href=""> <h4 class="timeline-title">Almaden Lake Park</h4></a>
            </div>
            <div class="timeline-body">
              <p>Park with a 32-acre lake offering fishing, bocce courts, trails & a seasonal concession stand.The Park, founded in 1872, was the first municipal park in the U.S. state of California. Located in a valley in the Diablo Range foothills on the east side of San Jose, the 720 acre (2.9 km2) park offers 13 miles (21 km) of trails, varying from fairly level along Penitencia Creek to sharp switchbacks climbing to the ridges to the South Rim Trail and the North Rim Trail.</p>
            </div>
          </div>
        </li>
    </ul>
			</div>
		</div>
	</div>
	<!-- ==================================== -->
	</div>
</div>
</div>
<footer class="footer">
		<div class="container">
			
			<p>LetzGo!!</p>
			
		</div>
</footer>


<div aria-hidden="true" class="modal fade" id="modal" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-heading">
					<a class="modal-close" data-dismiss="modal">&times;</a>
					<h2 class="modal-title">Profile</h2>
				</div>
				<div class="modal-inner">
					<div class="row">
					<div class="col-lg-4 col-sm-6">
							<div class="card">
								<aside class="card-main">
									<div class=" card-img">
										<img alt="alt text" src="images/users/avatar-001.jpg">
									</div>
								</aside>
							</div>
					</div>
					<div class="col-lg-4 col-sm-6">

										<a class="btn btn-flat btn-blue waves-button waves-effect">Change Image<span class="icon icon-create margin-left-half"></span></a>
										<a class="btn btn-flat btn-red waves-button waves-effect">Remove Image<span class="icon icon-delete margin-left-half"></span></a>
					</div>
				</div>
				<div class="modal-footer">
					<p class="text-right"><button class="btn btn-flat btn-alt" data-dismiss="modal" type="button">Close<span class="icon icon-close margin-left-half"></span></button><button class="btn btn-flat btn-alt" data-dismiss="modal" type="button">OK<span class="icon icon-done margin-left-half"></span></button></p>
				</div>
			</div>
		</div>
	</div>


<script src="js/base.min.js" type="text/javascript"></script>


	</body>
	</html>
