<nav class="menu menu-right" id="profile">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-top">
					<div class="menu-top-img">
						<img alt="User" src="images/samples/landscape.jpg">
					</div>
					<div class="menu-top-info">
						<a class="menu-top-user waves-effect" data-toggle="modal" href="#modal"><span class="avatar pull-left"><img alt="alt text for avatar" src="images/users/avatar-001.jpg"></span><%=uname%></a>
					</div>
				</div>
				<div class="menu-content">
					<ul class="nav">
						<li>
							<a href="#"><span class="icon icon-account-box"></span>My Profile</a>
						</li>
						<li>
							<a href="/settings"><span class="icon icon-settings"></span>Account Settings</a>
						</li>
						<li>
							<a href="/logout"><span class="icon icon-exit-to-app"></span>Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>