<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, width=device-width" name="viewport">
	<title><%= title%></title>

	<link href="css/base.min.css" rel="stylesheet">
</head>
<body style="margin-bottom: 73px;">

				<header class="header">
					<div class="clearfix pull-left">
						<ul class="nav nav-list pull-left">
							<li>
								<a class="menu-toggle" href="#menu">
									<span class="access-hide">Menu</span>
									<span class="icon icon-menu"></span>
									<span class="header-close icon icon-close"></span>
								</a>
							</li>
						</ul>
						<a class="header-logo" href="index.html"><span><img src="./images/logoInline.png"><%= title%></a>
					</div>
					<div class="clearfix pull-right">
						<ul class="nav nav-list pull-right">
							<li>
								<a class="menu-toggle" href="#profile">
									<span class="access-hide">User</span>
									<span class="avatar avatar-sm"><img alt="alt text for User avatar" src="images/users/avatar-001.jpg"></span>
									<span class="header-close icon icon-close"></span>
								</a>
							</li>
						</ul>
					</div>
				</header>

				<nav class="menu" id="menu">
					<div class="menu-scroll">
						<div class="menu-wrap">
							<div class="menu-content">
								<ul class="nav">
									<li class="active">
										<a href="ui-card.html">Menu Item 1</a>
									</li>
									<li>
										<a href="ui-collapse.html">Menu Item 2</a>
									</li>
									<li>
										<a href="ui-dropdown.html">Menu Item 3</a>
									</li>
									<li>
										<a href="ui-modal.html">Menu Item 4</a>
									</li>
									<li>
										<a href="ui-tab.html">Menu Item 5</a>
									</li>
									<li>
										<a href="ui-tile.html">Menu Item 6</a>
									</li>
								</ul>

								<hr>
								<ul class="nav">
									<li>
										<a href="page-palette.html">Menu Main</a>
										<span class="menu-collapse-toggle collapsed" data-target="#page-palettes" data-toggle="collapse"><i class="icon icon-close menu-collapse-toggle-close"></i><i class="icon icon-add menu-collapse-toggle-default"></i></span>
										<ul class="menu-collapse collapse" id="page-palettes">
											<li>
												<a href="#">Sub-Menu</a>
											</li>
											<li>
												<a href="#">Sub-Menu 2</a>
											</li>
											<li>
												<a href="#">Sub Menu 3</a>
											</li>
											<li>
												<a href="#">Sub Menu 4</a>
											</li>
											<li>
												<a href="#">Sub Menu 5</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
	<nav class="menu menu-right" id="profile">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-top">
					<div class="menu-top-img">
						<img alt="User" src="images/samples/landscape.jpg">
					</div>
					<div class="menu-top-info">
						<a class="menu-top-user waves-effect" data-toggle="modal" href="#modal"><span class="avatar pull-left"><img alt="alt text for avatar" src="images/users/avatar-001.jpg"></span>John Doe</a>
					</div>
				</div>
				<div class="menu-content">
					<ul class="nav">
						<li>
							<a href="javascript:void(0)"><span class="icon icon-account-box"></span> My Profile</a>
						</li>
						<li>
							<a href="javascript:void(0)"><span class="icon icon-settings"></span>Account Settings</a>
						</li>
						<li>
							<a href="page-login.html"><span class="icon icon-exit-to-app"></span>Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>


	<div class="content">
						<div class="content-heading">
							<div class="container">
								<h1 class="heading">Settings</h1>
							</div>
						</div>

		<div class="content-inner">
			<div class="container">
				<nav class="tab-nav">
					<ul class="nav nav-justified">
						<li class="active">
							<a class="waves-effect" data-toggle="tab" href="#first-tab">Security & Notifications </a>
						</li>
						<li>
							<a class="waves-effect" data-toggle="tab" href="#second-tab">Sharing & Privacy</a>
						</li>

						

					</ul>
				</nav>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="first-tab">
						<form>
						<fieldset>
							<legend class="col-lg-offset-2 col-md-offset-3 col-sm-offset-4">Security Settings</legend>
								<div class="form-group">
									<div class="row">
										<div class="col-lg-2 col-md-3 col-sm-4">
										<span class="form-label">Set alerts for:</span>
										</div>
										<div class="col-lg-4 col-md-6 col-sm-8">
											<div class="checkbox switch ">
												<label for="input-switch1">
													<input class="access-hide" id="input-switch1" name="input-switch1" type="checkbox"><span class="switch-toggle"></span>Login Alerts
												</label>
											</div>
											<div class="checkbox switch">
												<label for="input-switch2">
													<input class="access-hide" id="input-switch2" name="input-switch2" type="checkbox"><span class="switch-toggle"></span>Login Approvals
												</label>
											</div>
											<div class="checkbox switch">
												<label for="input-switch3">
													<input class="access-hide" id="input-switch3" name="input-switch3" type="checkbox"><span class="switch-toggle"></span>Generate Code
												</label>
											</div>

										</div>
									</div>
								</div>
						</fieldset>


						<fieldset>
							<legend class="col-lg-offset-2 col-md-offset-3 col-sm-offset-4">Notifications Settings</legend>

							<div class="form-group">
								<div class="row">
									<div class="col-lg-2 col-md-3 col-sm-4">
										<span class="form-label">Set notifications for:</span>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-8">
										<div class="checkbox switch">
											<label for="input-switch-4">
												<input class="access-hide" id="input-switch-4" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>Notify via email
											</label>
										</div>
										<div class="checkbox switch">
											<label for="input-checkbox-2">
												<input class="access-hide" id="input-checkbox-2" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>Push notifications to phone via text message
											</label>
										</div>
										<div class="checkbox switch">
											<label for="input-checkbox-3">
												<input class="access-hide" id="input-checkbox-3" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>Web Notifications
											</label>
										</div>


										<div class="checkbox switch">
											<label for="input-checkbox-4">
												<input class="access-hide" id="input-checkbox-4" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>Newsletter: Know about LetzGO! products, feature updates, and expert advice
											</label>
										</div>

										<div class="checkbox switch">
											<label for="input-checkbox-5">
												<input class="access-hide" id="input-checkbox-5" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>Send me personalized notification for the places I might like
											</label>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-lg-2 col-md-3 col-sm-4">
										<span class="form-label">Notify me:</span>
									</div>

									<div class="col-lg-4 col-md-6 col-sm-8">
										<div class="checkbox switch">
											<label for="input-checkbox-6">
												<input class="access-hide" id="input-checkbox-6" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>When a friend shares a place/tip with me
											</label>
										</div>
										<div class="checkbox switch">
											<label for="input-checkbox-7">
												<input class="access-hide" id="input-checkbox-7" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>When someone follows me
											</label>
										</div>
										<div class="checkbox switch">
											<label for="input-checkbox-8">
												<input class="access-hide" id="input-checkbox-8" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>When my tips are trending
											</label>
										</div>

										<div class="checkbox switch">
											<label for="input-checkbox-9">
												<input class="access-hide" id="input-checkbox-9" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>Suggestions based on my recent follows
											</label>
										</div>

										<div class="checkbox switch">
											<label for="input-checkbox-10">
												<input class="access-hide" id="input-checkbox-10" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>Suggestions for recommended accounts
											</label>
										</div>
										<div class="checkbox switch">
											<label for="input-checkbox-11">
												<input class="access-hide" id="input-checkbox-11" name="input-checkbox" type="checkbox"><span class="switch-toggle"></span>Tips on getting more out of LetzGO!
											</label>
										</div>

									</div>
								</div>

							</div>
						</fieldset>
						</form>
					</div>

					<div class="tab-pane fade in"  id="second-tab">
						<fieldset>
							<legend class="col-lg-offset-2 col-md-offset-3 col-sm-offset-4">Sharing and Privacy</legend>

						<div class="form-group">
							<div class="row">
								<div class="col-lg-2 col-md-3 col-sm-4">
									<span class="form-label">Set Sharing on for:</span>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-8">
									<div class="checkbox">
										<label for="input-checkbox-1">
											<input id="input-checkbox-1" name="input-checkbox" type="checkbox">Share on Facebook
										</label>
									</div>
									<div class="checkbox">
										<label for="input-checkbox-2">
											<input id="input-checkbox-2" name="input-checkbox" type="checkbox">Share on Twitter
										</label>
									</div>
									<div class="checkbox">
										<label for="input-checkbox-3">
											<input id="input-checkbox-3" name="input-checkbox" type="checkbox">Share on Instagram
										</label>
									</div>

								</div>
							</div>

							<div class="row">
								<div class="col-lg-2 col-md-3 col-sm-4">
									<span class="form-label">Privacy Settings:</span>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-8">
									<div class="checkbox">
										<label for="input-checkbox-1">
											<input id="input-checkbox-1" name="input-checkbox" type="checkbox">Link with my Facebook profile
										</label>
									</div>
									<div class="checkbox">
										<label for="input-checkbox-2">
											<input id="input-checkbox-2" name="input-checkbox" type="checkbox">Allow LetzGO! to use my device's background location, even when the app is closed, including features like sending you notifications with local recommendations or tips.
										</label>
									</div>
									<div class="checkbox">
										<label for="input-checkbox-3">
											<input id="input-checkbox-3" name="input-checkbox" type="checkbox">Allow my followers to send me tips and places.
										</label>
									</div>

								</div>
							</div>
							</fieldset>
				    </div>
					
					</div>
			</div>
		</div>
	</div>
	<!-- ==================================== -->
	</div>
</div>
</div>
<footer class="footer">
		<div class="container">
			<p>LetzGo!!</p>
		</div>
</footer>

<div aria-hidden="true" class="modal fade" id="modal" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-heading">
					<a class="modal-close" data-dismiss="modal">&times;</a>
					<h2 class="modal-title">Profile</h2>
				</div>
				<div class="modal-inner">
					<div class="row">
					<div class="col-lg-4 col-sm-6">
							<div class="card">
								<aside class="card-main">
									<div class=" card-img">
										<img alt="alt text" src="images/users/avatar-001.jpg">
									</div>
								</aside>
							</div>
					</div>
					<div class="col-lg-4 col-sm-6">

										<a class="btn btn-flat btn-blue waves-button waves-effect"><span class="icon icon-create"> Change Image</span></a>
										<a class="btn btn-flat btn-red waves-button waves-effect"><span class="icon icon-delete"> Remove Image</span></a>
					</div>
				</div>
				<div class="modal-footer">
					<p class="text-right"><button class="btn btn-flat btn-alt" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-alt" data-dismiss="modal" type="button">OK</button></p>
				</div>
			</div>
		</div>
	</div>


<script src="js/base.min.js" type="text/javascript"></script>
	</body>
	</html>
